<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30010">
        <setting id="tmdb_api_key" type="text" label="30001" default="d7040155454e7fdf547c4d889ebbcca7"/>
        <setting id="tmdb_language" type="labelenum" label="30002" default="zh-CN" values="zh-CN|en-US|ja-JP|ko-KR"/>
        <setting id="enrich_threads" type="labelenum" label="30003" default="4" values="2|4|6|8"/>
        <setting id="douban_img_proxy" type="text" label="30004" default="http://192.168.99.184:8443"/>
    </category>
</settings>
